.background{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            filter: blur(8px);
        }

*{
    padding: 0;
    margin: 0;
}
.jianjie{
            position: absolute;
            /* ========== 透明模糊毛玻璃背景框 ========== */
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(22px);
            -webkit-backdrop-filter: blur(18px);
            border: 1px solid rgba(255,255,255,0.3);
            border-radius: 20px; /* 圆角 */
            padding: 10px 30px; /* 内边距，控制框大小 */
        }